{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juntos Somos + App Clientes</title>
    
    <!-- Link para o CSS do Bootstrap -->
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/estilo.css' %}" rel="stylesheet">
    <link href="{% static 'css/datatables.css' %}" rel="stylesheet">
    
    <!-- Link para os arquivos JavaScript -->
    <script src="{% static 'js/jquery.js' %}" defer></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}" defer></script>
    <script src="{% static 'js/datatables.min.js' %}" defer></script>
    <script src="{% static 'js/api.js' %}" defer></script>
</head>
<body>
    <!-- Barra de Navegação -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Busca Clientes por Região</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/" title="Home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sobre/" title="Sobre o Desenvolvedor">Sobre</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Conteúdo adicional -->
</body>
</html>