{% include 'somos_mais/header.html' %}
     <!-- Container Sobre. Container com acesso aos botoes de busca por CSV Excel e JSON-->
    <section id="container" class="espaco">
    
        <div class="box-content">
            <h2>Felipe Michael da Fonseca</h2>
            <p>
                Highly skilled Software Engineer with over 10 years of experience in the IT sector developing, scaling, architecting, and maintaining large-scale microservices, APIs, and Batch Processing. Management in networks, software development, and support to customers.
            </p>
            <p>
                Technologies:
                <ul>
                    <li> - PHP / Python / C / JavaScript / JQUERY / NodeJS / Ruby on Rails</li>
                    <li> - Clean Architecture / SOLID / Design Patterns / API</li>
                    <li> - PostgreSQL / SQL Server / MySQL / MariaDB / MongoDB</li>
                    <li> - Docker / Kubernetes / AWS</li>
                    <li> - Zend Framework / Laravel / CodeIgniter / WordPress / SASS / Compass / Django</li>
                    <li> - Scrum / Tests / GitHub</li>
                </ul>
            </p>
            <p>
                My passion for problem-solving and ability to effectively interact with people from diverse areas of expertise and job functions have led me to develop innovative solutions and break some paradigms. Also, I like managing my time and searching for new technologies on the market. I can help the team with hard problems and solutions with my sense of humor and abilities.
            </p>
            <p>
                Adaptability: In a constantly evolving software development environment, the ability to adapt to new technologies, changes in requirements, and work environments is essential. Being able to learn quickly, adjust to new situations, and embrace changes with a positive attitude is crucial for success as a full-stack developer.
            </p>
            <h3>
                Perfil no linkedin:
            </h3>
            <p>
                <a href="https://www.linkedin.com/in/felipe-da-fonseca1" title="Perfil">Perfil no Linkedin</a>
             </p>
            <h3>
                GitHub:
            </h3>
            <p>
                <a href="https://github.com/felipe-michael1" title="GitHub">GitHub</a>
            </p>
        </div>
       
    </section>
    <a href="/" class="btn-voltar">Voltar para o Início</a>
    {% include 'somos_mais/footer.html' %}
 </body>
 </html>
 